/* -------------------------------------
 * You killer button SASS module
 * ------------------------------------- */

/*****************************
Round Button
*****************************/

 .btn-round {
  background-color: #d23f31;
  border-radius: 999em;
  width: 56px;
  height: 56px;
  box-shadow: $box-shadow;
  line-height: 1;
  font-size: 36px;
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.btn-round span {
    position: absolute;
  left: 0;
  top: 50%;
  height: 100%;
  width: 100%;
  text-align: center;
  margin-top: -22px;
  color: #FFF;
}

.btn-rate, .btn-edit-booking {
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, $gray-lighter), color-stop(1, $gray-light));
  background:-moz-linear-gradient(top, $gray-lighter 5%, $gray-light 100%);
  background:-webkit-linear-gradient(top, $gray-lighter 5%, $gray-light 100%);
  background:-o-linear-gradient(top, $gray-lighter 5%, $gray-light 100%);
  background:-ms-linear-gradient(top, $gray-lighter 5%, $gray-light 100%);
  background:linear-gradient(to bottom, $gray-lighter 5%, $gray-light 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='$gray-lighter', endColorstr='$gray-light',GradientType=0);
  background-color:$gray-lighter;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #dcdcdc;
  display:inline-block;
  cursor:pointer;
  color:#666666;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 20px;
  margin: 10px;
  text-decoration:none;
  text-shadow:0px 1px 0px #ffffff;
}
.btn-rate:hover, .btn-edit-booking:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, $gray-light), color-stop(1, $gray-lighter));
  background:-moz-linear-gradient(top, $gray-light 5%, $gray-lighter 100%);
  background:-webkit-linear-gradient(top, $gray-light 5%, $gray-lighter 100%);
  background:-o-linear-gradient(top, $gray-light 5%, $gray-lighter 100%);
  background:-ms-linear-gradient(top, $gray-light 5%, $gray-lighter 100%);
  background:linear-gradient(to bottom, $gray-light 5%, $gray-lighter 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='$gray-light', endColorstr='$gray-lighter',GradientType=0);
  background-color:$gray-light;
  color: $gray-darker;
}
.btn-rate:active, .btn-edit-booking:active {
  position:relative;
  top:1px;
  color: $gray-darker;
}

.btn-score {
  -moz-box-shadow:inset 0px 1px 0px 0px $green;
  -webkit-box-shadow:inset 0px 1px 0px 0px $green;
  box-shadow:inset 0px 1px 0px 0px $green;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, $green), color-stop(1, $green-lighter));
  background:-moz-linear-gradient(top, $green 5%, $green-lighter 100%);
  background:-webkit-linear-gradient(top, $green 5%, $green-lighter 100%);
  background:-o-linear-gradient(top, $green 5%, $green-lighter 100%);
  background:-ms-linear-gradient(top, $green 5%, $green-lighter 100%);
  background:linear-gradient(to bottom, $green 5%, $green-lighter 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='$green', endColorstr='$green-lighter',GradientType=0);
  background-color:$green;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #dcdcdc;
  display:inline-block;
  cursor:pointer;
  color:$white;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 20px;
  margin: 10px;
  text-decoration:none;
  text-shadow:0px 1px 0px $green;
}
.btn-score:hover, {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, $green-lighter), color-stop(1, $green));
  background:-moz-linear-gradient(top, $green-lighter 5%, $green 100%);
  background:-webkit-linear-gradient(top, $green-lighter 5%, $green 100%);
  background:-o-linear-gradient(top, $green-lighter 5%, $green 100%);
  background:-ms-linear-gradient(top, $green-lighter 5%, $green 100%);
  background:linear-gradient(to bottom, $green-lighter 5%, $green 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='$green-lighter', endColorstr='$green',GradientType=0);
  background-color:$green-lighter;
  color: $gray-dark;
}

.btn-score:active {
  position:relative;
  top:1px;
  color: $gray-dark;
}

.btn-edit {
  padding: 4px;
  background-color:$cream;
  text-align:center;
  box-shadow:$box-shadow;
  margin: 0 25%;
  border:none;
  border-radius: $border-radius;
}

.btn-confirm {
  padding: 3%;
  background-color:$green;
  color: $white;
  outline: none;
}

.btn-good {
  padding: 2%;
  background-color:$blue;
  text-align:center;
  box-shadow:$box-shadow;
  margin: 0 25%;
  border:none;
  border-radius: $border-radius;

  a {
    color:$white;
  }
}

.btn-golf-home {
  padding: 1%, 2%;
  margin: 1%;
  margin-left: 30px;
  margin-right: 30px;
  background-color:$gray;
  text-align:center;
  box-shadow:$box-shadow;
  border:none;
  border-radius: $border-radius;
  color: $gray-light;
  font-size: 20px;
}

.devise-card .btn-log input {
  margin-bottom: 10px;
  margin-top: 20px;
}

.devise-card .btn-facebook {
  color: #fff;
  background-color: #3b5998;
  border-color: rgba(0, 0, 0, 0.2);
  text-transform: inherit;
  font-size: 16px;
  font-weight: 300;
  width: 250px;
  margin: auto;
  padding-bottom: 8px;
  padding-top: 8px;
}

#sign-up-card .btn-facebook {
  margin-bottom: 10px;
}

