/* -------------------------------------
 * You killer button SASS module
 * ------------------------------------- */

/*****************************
Round Button
*****************************/

 .btn-round {
  background-color: #d23f31;
  border-radius: 999em;
  width: 56px;
  height: 56px;
  box-shadow: $box-shadow;
  line-height: 1;
  font-size: 36px;
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.btn-round span {
    position: absolute;
  left: 0;
  top: 50%;
  height: 100%;
  width: 100%;
  text-align: center;
  margin-top: -22px;
  color: #FFF;
}



.btn-edit {
  padding: 4px;
  background-color:$cream;
  text-align:center;
  box-shadow:$box-shadow;
  margin: 0 25%;
  border:none;
  border-radius: $border-radius;
}

.btn-confirm {
  padding: 3%;
  background-color:$green;
  color: $white;
  outline: none;
}


