// Your footer style
/* code your footer design here */
#footer {
  background-image: url(../images/contact-background-light.jpg);
  background-size: cover;
  background-position: center center;
  padding: 2em 0;
  min-height: 700px;
  color: $gray-darker;
  opacity: 0.9;
}

#footer a {
  color: $gray-darker;
  font-size: 3vmax;
  transition: color 0.5s ease;
}

#footer li {
  padding: 2em;
}

#footer p {
  font-size: 3vmax;
  margin-top: 2em;
}

#footer button {

  width: 60%;
  margin-right: 20%;
  margin-left: 20%;
}
