/* -------------------------------------
 * Colors & Fonts
 * ------------------------------------- */

 $footer-color: $gray-lighter;
 $footer-bg: $gray-darker;
 $footer-lang-curr-bg: #565a5c;
 $footer-font:'Karla', sans-serif;
 $footer-hover-color: $yellow;
 $footer-font-size: 14px;

/* -------------------------------------
 * Styles
 * ------------------------------------- */

.footer {
  color: $footer-color;
  background: $footer-bg;
  font-family: $navbar-font;
  font-size: $footer-font-size;
}

.footer p, a {
  color: $footer-color;

}


.copyright {
  color: #82888a;
}

.about-us {
  padding-top: 10px;
  padding-bottom: 0;
  font-size: 16px;
  p, ul {
    margin-bottom: 5px;
  }
}


/* -------------------------------------
 * Footer Table
 * ------------------------------------- */


.footer-table th {
  padding: 3em;
}

.footer a:hover {
   color: $footer-hover-color;
  }

.footer-control {
  background-color: $footer-lang-curr-bg;
  border: 0;
  color: $footer-color;
  padding-top: 10px;
  padding-bottom: 20px;
  max-width: 90%;
  margin-left: 2em;
  margin-top:1em;
}

.list-inline a {
  padding: 4px;
}

.footer-top {
  margin: 3%;
}
