
#banner {
  background: image-url("golf-background.png");
  color: #0E7C0C;
  background-size: cover;
  background-position: center center;
}


body {
  font-family: $base-font;
  color: $gray-dark;
}
h2, h3 {
  font-family: $header-font;
}



///////////// from divotee rails app /////////////////


.bg {
  height: 100%;
  width: 100vw;
  background: image-url("golf-background.png") no-repeat center center;
  background-size:cover;
}

.grey-bg {
  background-color: $gray-darker;
}

.grey-light-bg {
  background-color: $gray-light;
}

#description {
    .row {
      margin-top: 2em;
      padding-left: 1em;
      padding-right: 1em;
      padding-top: 80px;
      padding-bottom: 80px;
    };
  }

.description-card {
  height: 100%;
  width: 100%;
  padding-top: 5em;
  position: relative;
  padding: 2em;
    h2 {
      font-size: 24px;
      font-weight: 300;
      color: $gray-lighter;
    };
    p {
      font-size: 20px;
      font-weight: 100;
      color: $gray-lighter;
      text-align: justify;
    }
    img {
      min-height: 100px;
    };
};

@media screen and (max-width: 768px) {
  .description-card {
    h2 {
      font-size: 20px;
    };
    p {
      font-size: 18px;
    };
  }
}


#subscription-form {
  position: absolute;
  top: 75%;
  left: 5%;
  right: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 0px;
}

#subscription-form h3 {
  color: $white;
  margin-top: 0px;
  margin-bottom: 4px;
  font-weight: 800;
  line-height: 30px;
  font-size: 22px;
}

#search-wrapper {
  background: rgba(0,0,0,0.4);
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  padding: 30px 15px;
  margin-bottom: 0px;
}

@media screen and (max-width: 768px) {
  #search-wrapper {
  padding-top: 15px;
  padding-bottom: 15px;
  top:15%;
      }
 }

#search-wrapper p {
  color:$white;
  font-size:26px;
  font-weight: 400;
}

#search-wrapper h2 {
  color:$green-lighter;
  font-size:26px;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  #search-wrapper p {
  color:$white;
  font-size:24px;

}
 }

#search-wrapper div input  {
  display: inline-block;
  margin:0;
}

#search-wrapper select {
  width: 250px;
  outline-color: $green !important;
}

#search-wrapper input {
  width: 250px;
}

#search-wrapper input:focus {
  outline: -webkit-focus-ring-color auto 5px;
  outline-color: $green !important;
}


#search-wrapper p, #search-wrapper div {
  box-sizing: border-box;
  display:inline;
}

#down-arrow {
  position: absolute;
  top: 80%;
  right: 49%;
}

#down-arrow .fa {
  font-size: 50px;
  color: $white;
  &:hover {
    color: $green;
    font-weight: 900;
  }
}


#contact-banner {
  background: image-url("contact-background.jpg") no-repeat center center;
  background-size: cover;
  color: $gray-darker;
  font-weight: 200;
}

#contact-banner a {
  color: $gray-darker;
  font-size: 3vmax;
  transition: color 0.5s ease;
}

#contact-banner h2 {
  font-size: 22px;
  margin-bottom: 10px;
  color: $gray-darker;
  font-weight: 300;
}

#contact-banner .form-control {
  width: 70%;
  margin: auto;
}

#contact-banner .form-group {
  margin-bottom: 10px;
}

#contact-banner .btn {

  padding: 8px 30px;
}

#contact-banner label {
  font-size: 18px;
  font-weight: 300;
}


//////////////// from _base scss divatee rails /////////

/* -------------------------------------
 * Base elements style (h1, h2, p, a, ul..)
 * ============= IMPORTANT =============
 * Before writing in this file, look if there is not
 * already a Bootstrap SCSS variable that does the same job



/*****************************
BASE ELEMENTS
*****************************/

// .no-outline {
//   outline: 0px !important;
//   border: none !important;
//   -webkit-box-shadow: none !important;
//   -moz-box-shadow: none !important;
//   box-shadow: none !important;
//   outline-color: transparent !important;
//   -webkit-appearance:none;
// }

// .no-outline input[type="checkbox"] {
//   outline: 0px !important;
//   border: none !important;
//   -webkit-box-shadow: none !important;
//   -moz-box-shadow: none !important;
//   box-shadow: none !important;
//   outline-color: transparent !important;
//   -webkit-appearance:none;
// }


body {
  color: #999999;
  font-family: $base-font;
  min-height: 100vh;
}

body .datetimepicker {
  color: black;
}

.fill-page {
  min-height: 70vh;
}

h1,h2,h3,h4,h5 {
    color: #5a6772;
}

h1 {
font-size:56px;
font-weight:400;
line-height:64px;
}
h2 {
font-size:40vh;
  font-weight:200;
}
h3 {
font-size:34px;
font-weight:400;
line-height:52px;
}
h4 {
  font-size:28px;
  font-weight:400;

}

p{
      font-size:1.4rem;
      line-height:1.5;
      color:$gray;
      font-weight:400;
   }
/*****************************
No Text Decoration
*****************************/
ul li, ul li p {
text-decoration: none;
}


.filter-navbar button:focus
{
  outline:0px !important;
  -webkit-appearance:none;
}

