
#banner {
  background-image: url(../images/golf-background-light.jpg);
  color: #0E7C0C;
  background-size: cover;
  background-position: center center;
  width: 100%;
  min-height: 650px;
  font-family: $header-font;
  opacity: 0.9;
  h1 {
  font-size: 3vmax;
  font-family: $hand-writen-font;
  font-weight: 400;
  };
  h2 {
  font-size: 3vmax;
  color: white;
  };
  p {
  font-size: 2vmax;
  font-weight: 200;
  };
  .card {
  height: 100%;
  width: 100%;
  padding-top: 5em;
  position: relative;
  };
}

#description {
  width: 100%;
  min-height: 100%;

}

body {
  font-family: $base-font;
  color: $gray-dark;
}
h2, h3 {
  font-family: $header-font;
}


.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

.card {
  padding: 2em;
  font-weight: 200;
  h2 {
  font-size: 20px;
  };
  img {
  min-height: 100px;
  };
}


