
#banner {
  background: image-url("golf-background.png");
  color: #0E7C0C;
  background-size: cover;
  background-position: center center;
  min-height: 650px;
  font-family: $header-font;
  opacity: 0.9;
  h1 {
  font-size: 3vmax;
  font-weight: 400;
  };
  h2 {
  font-size: 3vmax;
  color: white;
  };
  p {
  font-size: 2vmax;
  font-weight: 200;
  };
  .card {
  height: 100%;
  width: 100%;
  padding-top: 5em;
  position: relative;
  };
}


#description {
    .row {
      margin-top: 2em;
      padding-left: 1em;
      padding-right: 1em;
    };
  }


@media screen and (min-width: 993px) {
  #description {
    .col-md-3 {
      margin-top: 4em;
      margin-bottom: 3em;
    };
  }
}


body {
  font-family: $base-font;
  color: $gray-dark;
}
h2, h3 {
  font-family: $header-font;
}


.card {
  padding: 2em;
  font-weight: 200;
  h2 {
    font-size: 2vmax;
  };
  p {
    font-size: 1.50vmax;
  }
  img {
    min-height: 100px;
  };
}


///////////// from divotee rails app /////////////////


.bg {
  height: 100%;
  width: 100vw;
  background: image-url("golf-background.png") no-repeat center center;
  background-size:cover;
}

.grey-bg {
  background-color: $gray-darker;
}

.grey-light-bg {
  background-color: $gray-light;
}

#description {
    .row {
      margin-top: 2em;
      padding-left: 1em;
      padding-right: 1em;
      padding-top: 80px;
      padding-bottom: 80px;
    };
  }

.description-card {
  height: 100%;
  width: 100%;
  padding-top: 5em;
  position: relative;
  padding: 2em;
    h2 {
      font-size: 24px;
      font-weight: 300;
      color: $gray-lighter;
    };
    p {
      font-size: 20px;
      font-weight: 100;
      color: $gray-lighter;
      text-align: justify;
    }
    img {
      min-height: 100px;
    };
};

@media screen and (max-width: 768px) {
  .description-card {
    h2 {
      font-size: 20px;
    };
    p {
      font-size: 18px;
    };
  }
}

/**************************
  Search Bar
*************************/

#search-wrapper {
  background: rgba(0,0,0,0.6);
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 0px;
}

@media screen and (max-width: 768px) {
  #search-wrapper {
  padding-top: 15px;
  padding-bottom: 15px;
  top:12%;
      }
 }


#search-wrapper p {
  color:$white;
  font-size:24px;
  font-weight: 100;
}

@media screen and (max-width: 768px) {
  #search-wrapper p {
  color:$white;
  font-size:20px;
  font-weight: 100;

}
 }

#search-wrapper div input  {
  display: inline-block;
  margin:0;
}

#search-wrapper select {
  width: 250px;
  outline-color: $green !important;
}

#search-wrapper input {
  width: 250px;
}

#search-wrapper input:focus {
  outline: -webkit-focus-ring-color auto 5px;
  outline-color: $green !important;
}


#search-wrapper p, #search-wrapper div {
  box-sizing: border-box;
  display:inline;
}



.use-instructions {
  padding-bottom: 15px;
}

#contact-banner {
  background: image-url("contact-background.jpg") no-repeat center center;
  background-size: cover;
  color: $gray-darker;
  font-weight: 200;
}

#contact-banner a {
  color: $gray-darker;
  font-size: 3vmax;
  transition: color 0.5s ease;
}

#contact-banner h2 {
  font-size: 22px;
  margin-bottom: 10px;
  color: $gray-darker;
  font-weight: 300;
}

#contact-banner .form-control {
  width: 70%;
  margin: auto;
}

#contact-banner .form-group {
  margin-bottom: 10px;
}

#contact-banner .btn {

  padding: 8px 30px;
}

#contact-banner label {
  font-size: 18px;
  font-weight: 300;
}


//////////////// from _base scss divatee rails /////////

/* -------------------------------------
 * Base elements style (h1, h2, p, a, ul..)
 * ============= IMPORTANT =============
 * Before writing in this file, look if there is not
 * already a Bootstrap SCSS variable that does the same job



/*****************************
BASE ELEMENTS
*****************************/

// .no-outline {
//   outline: 0px !important;
//   border: none !important;
//   -webkit-box-shadow: none !important;
//   -moz-box-shadow: none !important;
//   box-shadow: none !important;
//   outline-color: transparent !important;
//   -webkit-appearance:none;
// }

// .no-outline input[type="checkbox"] {
//   outline: 0px !important;
//   border: none !important;
//   -webkit-box-shadow: none !important;
//   -moz-box-shadow: none !important;
//   box-shadow: none !important;
//   outline-color: transparent !important;
//   -webkit-appearance:none;
// }


body {
  color: #999999;
  font-family: $base-font;
  min-height: 100vh;
}

body .datetimepicker {
  color: black;
}

.fill-page {
  min-height: 80vh;
}

h1,h2,h3,h4,h5 {
    color: #5a6772;
}

h1 {
font-size:56px;
font-weight:400;
line-height:64px;
}
h2 {
font-size:3vh;
  font-weight:200;
}
h3 {
font-size:34px;
font-weight:400;
line-height:52px;
}
h4 {
  font-size:28px;
  font-weight:400;

}

p{
      font-size:1.4rem;
      line-height:1.5;
      color:$gray;
      font-weight:400;
   }
/*****************************
No Text Decoration
*****************************/
ul li, ul li p {
text-decoration: none;
}


.filter-navbar button:focus
{
  outline:0px !important;
  -webkit-appearance:none;
}

